[user]
	useconfigonly = true
[core]
	editor = vim
[push]
	default = current
	followTags = true
[pull]
	rebase = true
[alias]
	st = status
	fe = fetch
	pl = pull
	ps = push
	rt = reset
	co = checkout
	cob = checkout -b
	cc = commit
	ca = commit --amend
	cp = cherry-pick
	cl = clean
	rb = rebase
	br = branch
	ss = stash save -u
	sl = stash list
	sa = stash apply
	sp = stash pop
	sd = stash drop
	sbr = show-branch
	reprune = remote prune origin
	sdiff = diff --staged
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
