"*":
  core:
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    fontFamily: "Inconsolata"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "8d85dcbe-4aa4-48f6-9db8-d655ebe35935"
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
